body{
    background-image: linear-gradient(to bottom right,yellow, rgb(250, 37, 3));
    }
h1{
    color:red;
    font-size: 3rem;
    text-align: center;
}
h2{
    color:saddlebrown;
    font-size: 3rem;
    text-align: center;
}
.head{
    border-style: solid;
}
h3{
    color: rgb(21, 5, 121);
    font-size: 2rem;
}
ol{
    font-size: 2rem;
    color: rgb(21,5,121);
}
#a,#b,#c{
    box-shadow: 10px 10px 5px grey;
}
#a:hover{
    height: 225px;
    width: 275px;
    border-radius: 10%;
    box-shadow: 10px 10px 5px greenyellow;
}
#b:hover{
    height: 225px;
    width: 275px;
    border-radius: 10%;
    box-shadow: 10px 10px 5px greenyellow;
}
#c:hover{
    height: 225px;
    width: 275px;
    border-radius: 10%;
    box-shadow: 10px 10px 5px greenyellow;
}